{% extends 'base.html.twig' %}
{% block title %} New Task {% endblock %}
{% block body %}

    <h2 class="mt-4">Add Tasks</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}